{% extends 'template.front.html.twig' %}

{# on surcharge le block parent #}
{% block title %}
{{ parent() }}
|
{{ title }}
{% endblock %}

{% block header %}
<h1>{{ title }}</h1>
<p>{{ homepage_text }}</p>
{% endblock %}

{% block containerPost %}
<div class="container px-4 py-5" id="custom-cards" style="margin-top:6rem;">
    <h2 class="pb-2 border-bottom text-center text-light">Nos dérniere Post Blog</h2>
    
   

    <section id="gallery">
        <div class="container">
            <div class="row">
            {% for section in sections %}
                                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                            alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ section.SectionTitle }}</h5>
                            <p class="card-text">{{ section.SectionSlug }}</p>
                            <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            
                        </div>
                    </div>
                </div>
                {% else %}
                <div id="plus">
                    <div class="container-sm p-5">
                        <div class="container col-xxl-8 px-4 py-5">
                            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                                <div class="col-10 col-sm-8 col-lg-6">
                                    <img src="{{ asset('img/fondo plus.webp') }}" class="d-block mx-lg-auto img-fluid rounded shadow"
                                        alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                                </div>
                                <div class="col-lg-6">
                                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Bienvenue sur PlayStation Blogger</h1>
                                    <p class="lead">Découvrez les dernières nouveautés en matière de jeux vidéo ! Nos articles mettent
                                        en avant les nouvelles sorties et les DLC récents, explorant leurs fonctionnalités et l'impact
                                        sur l'expérience de jeu. Restez informé sur les tendances actuelles pour ne rien manquer !
                
                                    </p>
                
                                </div>
                            </div>
            
                
                
            </div>
        </div>
    </section>
{% endfor %}

</div>
{% endblock %}

{% block carousel %}{% endblock %}


{% block psplus %}


            

                {% endblock %}