{% extends 'base.html.twig' %}
{% block title %}Article index{% endblock %}
{% block body %}
    <h1>Article index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Title_slug</th>
                <th>Text</th>
                <th>Article_date_create</th>
                <th>Article_date_posted</th>
                <th>Published</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.titleSlug }}</td>
                <td>{{ article.text }}</td>
                <td>{{ article.articleDateCreate ? article.articleDateCreate|date('Y-m-d') : '' }}</td>
                <td>{{ article.articleDatePosted ? article.articleDatePosted|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}