
{% extends 'template.back.html.twig' %}

{% block title %}{{ parent() }} | {{ title }} }}{% endblock %}
{% block header %}
    <h1>{{ title }}</h1>
    <p>{{ homepage_text }}</p>
{% endblock %}

{% block main %}
<h1>Create new Article</h1>

    <div class="row" style="margin-top: 6rem;">
    {{ include('article/_form.html.twig') }}

    <a href="{{ path('    <a href="{{ path('app_article_index') }}">back to list</a>
') }}">back to list</a>
    </div>
{% endblock %}